.wrapper {
  margin-top: auto;
  background-color: #2add2a;
  border-radius: 10px;
  height: 60px;
  border: none;
  font-size: 30px;
  color: #ffffff;
  font-weight: 700;
  text-shadow: 0px 0px 2px #010101;
}