.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  background-color: #151515;
  z-index: 10;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 10px 5px 20px;

  .close {
    margin-bottom: 10px;
    font-size: 24px;
    padding: 5px;
    border-radius: 10px;
    border: none;
    background-color: #44ff8f;
    color: #ffffff;
    text-shadow: 0 0 2px black;
    font-weight: 700;
  }

  input {
    margin-top: 20px;
    font-size: 26px;
    padding: 5px;
    border-radius: 8px;
    border: none;
    background-color: #333333;
    color: #ffffff;
  }

  .weights {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;

    .item {
      display: flex;
    }

    h3 {
      font-size: 32px;
      
      border: 1px solid #333333;
      padding: 3px 10px;
      color: #4ff955;
      border-radius: 7px;
    }

    span {
      width: 100%;
      background-color: #333333;
      padding: 5px;
      font-size: 20px;
      border-radius: 5px;
    }
  }

  .containers {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;

    .item {
      display: flex;
    }

    h3 {
      font-size: 32px;
      
      border: 1px solid #333333;
      padding: 3px 10px;
      color: #f86262;
      border-radius: 7px;
    }

    span {
      width: 100%;
      background-color: #333333;
      padding: 5px;
      font-size: 20px;
      border-radius: 5px;
    }
  }

  .buttons {
    position: relative;
    margin-left: auto;
    display: flex;
    
    font-size: 16px;

    .delete {
      display: block;
      color: #e11a1aa1;
      height: 30px;
      padding: 5px;
      width: 30px;
    }

    .edit {
      display: block;
      color: #0add54a1;
      height: 30px;
      padding: 5px;
      width: 30px;
    }
  }
}